:root {
  --modal-duration: 1s;
  --modal-color: #428bca;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.add-new-header {
  text-align: right;
  margin-bottom: 10px;
}

.add-new-header button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(60, 60, 95);
  color: whitesmoke;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 30%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2 {
  margin: 0;
}

.modal-header {
  background: var(--modal-color);
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.modal-body form {
  text-align: center;
}

.modal-body form input {
  width: 80%;
  padding: 5px 10px;
}

#submit-btn {
  border: none;
  padding: 10px;
  background: var(--modal-color);
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.actions button {
  padding: 8px 10px;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}

.edit-btn {
  background-color: gray;
}

.delete-btn {
  background-color: red;
}

.alert {
  position: relative;
}

.alert span {
  display: none;
  position: absolute;
  text-align: center;
  background-color: rgb(45, 219, 45);
  width: 50%;
  padding: 5px 10px;
  left: 25%;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  animation: cssAnimation 3s ease-in-out;
}

@keyframes cssAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
